h1{
    font-family: helvetica;
    text-align: center;
    color: white;
  }
  .mainlogo{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  body{
    background: black;
  }
  h2{
    color: white;
    font-family: helvetica;
  }
  .origininput {
    text-align: center;
  }
  .output{
    text-align: center;
  }